<div class="form-horizontal">
    <h3>Create a new Timer</h3>
    <div class="form-group">
        <div class="col-md-offset-2 col-sm-2">
            <a id="Create" name="Create" class="btn btn-primary" href="#/Timers/new"><span class="glyphicon glyphicon-plus-sign"></span> Create</a>
        </div>
    </div>
</div>
<hr/>
<div>
    <h3>List Timers</h3>
    <form id="TimerSearch" class="form-horizontal">
        
    <div class="form-group">
        <label for="active" class="col-sm-2 control-label">Filter:</label>
        <div class="col-sm-10"><!-- a as a for a in fridayList  -->
            <select id="active" name="active" class="form-control" ng-model="search.active" ng-options="a as a.label for a in activeList track by a.value" ng-change="performSearch()">
                <option value="">Show both active and inactive</option>
            </select>
        </div>
    </div>
      
    </form>
</div>
<div id="search-results">
        <div class="table-responsive">
        <table class="table table-responsive table-bordered table-striped clearfix">
            <thead>
                <tr>
                    <th width="25px"></th>
                    <th style="width:75px;white-space_nowrap">Time</th>
                    <th>Repeat</th>
                </tr>
            </thead>
            <tbody id="search-results-body">
                <tr ng-repeat="result in filteredResults | startFrom:currentPage*pageSize | limitTo:pageSize">
                    <td><a href="#/Timers/edit/{{result.timerId}}"><input id="active" name="active" type="checkbox" class="checkbox"
				ng-model="result.active"></input></a></td>
                    <td><a href="#/Timers/edit/{{result.timerId}}">{{result.time}}</a></td>
                    <td><a href="#/Timers/edit/{{result.timerId}}">{{result.repeat}}</a></td>
                </tr>
            </tbody>
        </table>
    </div>

        <ul class="pagination pagination-centered">
        <li ng-class="{disabled:currentPage == 0}">
            <a id="prev" href ng-click="previous()">«</a>
        </li>
        <li ng-repeat="n in pageRange" ng-class="{active:currentPage == n}" ng-click="setPage(n)">
            <a href ng-bind="n + 1">1</a>
        </li>
        <li ng-class="{disabled: currentPage == (numberOfPages() - 1)}">
            <a id="next" href ng-click="next()">»</a>
        </li>
    </ul>

</div>