<div id="search-results">
        <div class="table-responsive">
        <table class="table table-responsive table-bordered table-striped clearfix">
            <thead>
                <tr>
                	<th>Parmeter</th>
                	<th>Value</th>
                    <th>Description</th>
                    
                </tr>
            </thead>
            <tbody id="search-results-body">
                <tr data-ng-repeat="result in filteredResults | startFrom:currentPage*pageSize | limitTo:pageSize">
                    <td><a href="#/Settings/edit/{{result.settingId}}">{{result.parmeter}}</a></td>
                    <td><a href="#/Settings/edit/{{result.settingId}}">{{result.value}}</a></td>
                    <td><a href="#/Settings/edit/{{result.settingId}}">{{result.description}}</a></td>    
                </tr>
            </tbody>
        </table>
    </div>
</div>